/* Code css */

/* Global */
body {
  font-family: "Heebo", sans-serif;
  margin:0;
  color : #21243D;
}

h2 {
    font-weight: 400px;
    font-size : 22px;
    padding-top: 20px;
}

/* Nav-bar */
nav {
    display : flex;
    justify-content: space-between;
    align-items: center;
    width :1200px;
    margin: 15px auto 0px auto;
}
#nav-links {
    display: flex;
    gap: 65px;
}
.nav-link {
    color : black;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

/* Header */
header {
    display :flex;
    justify-content: space-between;
    align-items: center;
    width :1200px;
    margin :75px auto;
}

#header-content {
    width: 630px;
}

h1 {
    font-weight: 700px;
    font-size: 44px;
    margin-bottom: 0;
}

#subtitle {
    font-size: 16px;    
    margin: 35px 0px;
}

#button-cv {
    background-color: #FF6464;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 15px;
}

/* Blog */
#blog {
    background-color: #EDF7FA;
    padding-bottom: 35px;
}

#blog-content {
    width :1200px;
    margin:auto;
}

#articles {
    display:flex;
    justify-content: space-between;
}

.article-blog {
    background-color: #FFFFFF;
    border-radius: 4px;
    width: 543px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.article-title {
    font-size: 26px;
}

.date-categorie {
    font-size: 18px;
    display: flex;
    gap : 25px;
}

.article-description {
    font-size: 16px;
}

/* Portfolio */
#portfolios {
    width: 1200px;
    margin : auto;
}

.portfolio {
    display:flex;
    gap :60px;
    margin-bottom : 25px;
    padding-bottom: 20px;
    border-bottom: #E0E0E0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    align-items: center;
}

.portfolio-title {
    font-size: 30px;
    font-weight: 700;
    margin : 0px 0px 15px 0px;
}

.date-type {
    display: flex;
    gap : 60px;
}

.portfolio-date {
    background-color:  #142850;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 900;
    width: 62px;
    height: 25px;
    text-align: center;
}

.portfolio-type {
    color:#8695A4;
    font-size: 20px;
}

.portfolio-description {
    margin-bottom: 50px;
}

/*Contacts*/
#contact {
    width: 1200px;
    margin : auto;
}

#contact-content{
    color:#000000;
    display: flex;
    align-items: center;
    gap: 40px;
}

.coordonnee{
    padding-bottom: 20px;
}

#coordonnees-title {
    font-size: 36px;
    font-weight: 800;
}

.coordonnees-subtitle {
    font-size: 32px;
    font-weight: 700;
}

#parlons-en{
    font-size: 20px;
}

#mail {
    color : #000000;
    text-decoration: none;
    font-size: 16px;
}

.socials-link {
    color :#000000;
    font-size: 16px;
    display: block;
    margin-bottom:20px;
}

label {
    font-size: 14px;
}

#formulaire {
    display :flex;
    flex-direction: column;
    gap: 20px;
}

input,select,textarea {
    background-color: #F7F7F7;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    width: 563px;
    height: 46px;
    text-size-adjust: auto;
}

textarea {
    width: 563px;
    height: 165px;
    resize: none;
}

button {
    font-size: 20px;
    font-weight: 800px;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    width: 572px;
    height: 56px;
}

/* Footer */
footer {    
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: center;
}

#logos {
    display: flex;
    justify-content: center;
    gap : 40px;
}

#copyright {
    font-size: 14px;
    color :#21243D;
}